.main {
    height: 100vh;
}

.trending h2 {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

.trending_container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

.trending_container::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 20px;
}

.trending_container article {
    padding: 1rem;
    border-radius: 5px;
}

.trending_container article h3 {
    margin-top: 1rem;
}

.movies {
    background-color: #e4ebf0;
}

.movies h2 {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.movies_container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

.movies_container::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 20px;
}

.movies_container article {
    padding: 1rem;
    border-radius: 5px;
}

.movies_container article h3 {
    margin-top: 1rem;
}

.container_img {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 7px #0000003a;
}

.container_img img {
    transition: 0.4s;
}

.container_img:hover img {
    transform: scale(110%);
    opacity: 0.7;
}

.button {
    text-decoration: none;
    background-color: #1c7be7;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #FFF;
    position: absolute;
    bottom: 90px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: translateY(50px);
}

.container_img:hover .button {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.series h2 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.series_container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.series_container::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 20px;
}

.series_container article {
    padding: 1rem;
    border-radius: 5px;
}

.series_container article h3 {
    margin-top: 1rem;
}
