.search_container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

.feedback {
    font-size: 1.3rem;
    margin-top: 3rem;
}

.search_container article {
    width: 255px;
    padding: 1rem;
    border-radius: 5px;
}

.search_container article h3 {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.container_img {
    width: 222px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 7px #0000003a;
}

.container_img img {
    transition: 0.4s;
}

.container_img:hover img {
    opacity: 0.7;
    transform: scale(110%);
}

.button {
    text-decoration: none;
    background-color: #1c7be7;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #FFF;
    position: absolute;
    margin: 0 auto;
    bottom: 90px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: translateY(50px);
}

.container_img:hover .button {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.container_btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btnNext, .btnPrevious {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #c1c1c1;
    opacity: 0.8;
    transition: 0.3s;
    border-radius: 5px;
    margin: 2rem 0;
    font-size: 0.9rem;
}

.btnNext:hover {
    opacity: 1;
    border: 1px solid #000;
}

.btnPrevious:hover {
    opacity: 1;
    border: 1px solid #000;
}