.container {
    padding: 2rem 0;
}

.info {
    margin: 0rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #e4ecf2;
    width: 700px;
    box-shadow: 1px 1px 7px #0000003b;
}

.info .title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.info div {
    text-align: center;
    margin-bottom: 2rem;
}

.info div img{
    border-radius: 5px;
    box-shadow: 1px 1px 6px #00000057;
    margin-bottom: 0.5rem;
}

.info div .average {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.info div .average .star {
    color: #f5f50d;
    font-size: 1.3rem;
}

.tv {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tv p {
    text-align: left;
}

.tv p span {
    font-weight: bold;
    font-size: 1.2rem;
}

.tv .genres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.tv .genres p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tv .genre {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    background-color: #1c7be7;
}

.tv .synopsis {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}

.cast {
    text-align: center;
    font-size: 1.5rem;
}

/* Semelhantes */

.series {
    padding: 2rem 2rem 0;
    background-color: #e4ebf0;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.193);
}

.series h2 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.series_container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.series_container::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 20px;
}

.series_container article {
    padding: 1rem;
    border-radius: 5px;
}

.series_container article h3 {
    margin-top: 1rem;
}

.container_img {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 7px #0000003a;
}

.container_img img {
    transition: 0.4s;
}

.container_img:hover img {
    opacity: 0.7;
    transform: scale(110%);
}

.button {
    text-decoration: none;
    background-color: #1c7be7;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #FFF;
    position: absolute;
    bottom: 90px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: translateY(50px);
}

.container_img:hover .button {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

@media (max-width: 770px) {
    .info {
        width: 95%;
        margin: 0 1rem;
    }

    .tv {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .info div img{
        width: 100%;
    }
}
