* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #bdd1de;
}